# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Frontend
src/main/frontend/node_modules/
src/main/resources/static/

# IntelliJ
.idea
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Eclipse
.project
.classpath

# Project specific
.dev-data/
.test-data/