# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Frontend
src/main/frontend/node_modules/
src/main/resources/static/
src/main/frontend/src/api/endpoints
src/main/frontend/src/api/model

# IntelliJ
.idea
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Eclipse
.project
.classpath