@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9849 0.0029 264.5421);
  --foreground: oklch(0.2795 0.0368 260.0310);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2795 0.0368 260.0310);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2795 0.0368 260.0310);
  --primary: oklch(0.5490 0.1943 260.6669);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9298 0.0063 255.4766);
  --secondary-foreground: oklch(0.3691 0.0307 259.7302);
  --muted: oklch(0.9610 0.0029 264.5419);
  --muted-foreground: oklch(0.5498 0.0224 260.1507);
  --accent: oklch(0.9310 0.0330 261.0329);
  --accent-foreground: oklch(0.3691 0.0307 259.7302);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8694 0.0089 264.5174);
  --input: oklch(0.8694 0.0089 264.5174);
  --ring: oklch(0.5490 0.1943 260.6669);
  --chart-1: oklch(0.5490 0.1943 260.6669);
  --chart-2: oklch(0.4817 0.2183 261.7234);
  --chart-3: oklch(0.4220 0.1984 262.2117);
  --chart-4: oklch(0.3618 0.1690 262.1306);
  --chart-5: oklch(0.3012 0.1288 260.8274);
  --sidebar: oklch(0.9610 0.0029 264.5419);
  --sidebar-foreground: oklch(0.2795 0.0368 260.0310);
  --sidebar-primary: oklch(0.5490 0.1943 260.6669);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9310 0.0330 261.0329);
  --sidebar-accent-foreground: oklch(0.3691 0.0307 259.7302);
  --sidebar-border: oklch(0.8694 0.0089 264.5174);
  --sidebar-ring: oklch(0.5490 0.1943 260.6669);
  --font-sans: Open Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Merriweather, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.1;
  --shadow-color: #0e0f10;
  --shadow-2xs: 0px 4px 8px -1px hsl(210 6.6667% 5.8824% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(210 6.6667% 5.8824% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(210 6.6667% 5.8824% / 0.10), 0px 1px 2px -2px hsl(210 6.6667% 5.8824% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(210 6.6667% 5.8824% / 0.10), 0px 1px 2px -2px hsl(210 6.6667% 5.8824% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(210 6.6667% 5.8824% / 0.10), 0px 2px 4px -2px hsl(210 6.6667% 5.8824% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(210 6.6667% 5.8824% / 0.10), 0px 4px 6px -2px hsl(210 6.6667% 5.8824% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(210 6.6667% 5.8824% / 0.10), 0px 8px 10px -2px hsl(210 6.6667% 5.8824% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(210 6.6667% 5.8824% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.24rem;
}

.dark {
  --background: oklch(0.1517 0.0397 259.6314);
  --foreground: oklch(0.9298 0.0133 262.3781);
  --card: oklch(0.2004 0.0397 259.8224);
  --card-foreground: oklch(0.9298 0.0133 262.3781);
  --popover: oklch(0.2004 0.0397 259.8224);
  --popover-foreground: oklch(0.9298 0.0133 262.3781);
  --primary: oklch(0.5503 0.1899 260.6615);
  --primary-foreground: oklch(0.9791 0 0);
  --secondary: oklch(0.3003 0.0357 261.9085);
  --secondary-foreground: oklch(0.8694 0.0089 264.5174);
  --muted: oklch(0.2508 0.0401 259.3165);
  --muted-foreground: oklch(0.6999 0.0198 258.3637);
  --accent: oklch(0.3003 0.0357 261.9085);
  --accent-foreground: oklch(0.8694 0.0089 264.5174);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.2077 0.0398 265.7549);
  --border: oklch(0.4000 0.0259 261.6374);
  --input: oklch(0.4000 0.0259 261.6374);
  --ring: oklch(0.5503 0.1899 260.6615);
  --chart-1: oklch(0.5503 0.1899 260.6615);
  --chart-2: oklch(0.4817 0.2183 261.7234);
  --chart-3: oklch(0.4220 0.1984 262.2117);
  --chart-4: oklch(0.3618 0.1690 262.1306);
  --chart-5: oklch(0.3012 0.1288 260.8274);
  --sidebar: oklch(0.2004 0.0397 259.8224);
  --sidebar-foreground: oklch(0.9298 0.0133 262.3781);
  --sidebar-primary: oklch(0.5503 0.1899 260.6615);
  --sidebar-primary-foreground: oklch(0.9791 0 0);
  --sidebar-accent: oklch(0.3003 0.0357 261.9085);
  --sidebar-accent-foreground: oklch(0.8694 0.0089 264.5174);
  --sidebar-border: oklch(0.4000 0.0259 261.6374);
  --sidebar-ring: oklch(0.5503 0.1899 260.6615);
  --font-sans: Open Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Merriweather, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.1;
  --shadow-color: #222d35;
  --shadow-2xs: 0px 4px 8px -1px hsl(205.2632 21.8391% 17.0588% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(205.2632 21.8391% 17.0588% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(205.2632 21.8391% 17.0588% / 0.10), 0px 1px 2px -2px hsl(205.2632 21.8391% 17.0588% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(205.2632 21.8391% 17.0588% / 0.10), 0px 1px 2px -2px hsl(205.2632 21.8391% 17.0588% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(205.2632 21.8391% 17.0588% / 0.10), 0px 2px 4px -2px hsl(205.2632 21.8391% 17.0588% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(205.2632 21.8391% 17.0588% / 0.10), 0px 4px 6px -2px hsl(205.2632 21.8391% 17.0588% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(205.2632 21.8391% 17.0588% / 0.10), 0px 8px 10px -2px hsl(205.2632 21.8391% 17.0588% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(205.2632 21.8391% 17.0588% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}