name: Build and Push Docker Image

on:
  push:
    tags:
      - '*'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.0

      - id: build-intefero
        name: Build and Push Interfero Docker Image
        uses: ./.github/actions/build-interfero