name: Run Integration-Tests
permissions:
  contents: read

on:
  push:
    branches:
      - main
  workflow_dispatch:
  workflow_call:

jobs:
  postgres-integration-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.0

      - id: run-integration-tests_pg_18-1
        name: Run Integration-Tests (Postgres 18.1)
        uses: ./.github/actions/integration-tests
        with:
          database-vendor: 'postgres'
          postgres-version: '18.1'

  timescaledb-integration-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.0

      - id: run-integration-tests_tsdb_2-24-0-pg18
        name: Run Integration-Tests (TimescaleDB 2.24.0-pg18)
        uses: ./.github/actions/integration-tests
        with:
          database-vendor: 'timescaledb'
          postgres-version: '2.24.0-pg18'

